<!-- BEGIN PORTLET-->
{var $link = $control->getLink()}

<div class="easy-pie-chart">
	<div class="number {$control->getClass()}" data-bar-color="{$control->getColor()}" data-percent="{$control->getPercent()}">
		{if $control->getNumber()!==null}
			<span>{$control->getNumber()}</span>
		{else}
			<span>{$control->getPercent()}</span>%
		{/if}
	</div>
	<a class="title" href="{if $link}{plink $link}{else}javascript:;{/if}">
		{$control->getTitle()}
		{if $link!==null}
		<i class="icon-arrow-right"></i>
		{/if}
	</a>
</div>
<!-- END PORTLET-->
